:root {
  --sn-stylekit-background-color: rgb(237, 228, 218);
  --sn-stylekit-secondary-background-color: rgb(227, 213, 196);
  --sn-stylekit-foreground-color: #222;
  --sn-stylekit-border-color: rgb(217, 198, 177);
}
