@if $dev {
  // tan
  :root {
    --sn-stylekit-font-size-editor: 16px;
    --sn-stylekit-monospace-font: SFMono-Regular, Consolas, Liberation Mono, Menlo,
    'Ubuntu Mono', courier, monospace;
    --sn-stylekit-background-color: rgb(237, 228, 218);
    --sn-stylekit-secondary-background-color: rgb(227, 213, 196);
    --sn-stylekit-foreground-color: #222;
    --sn-stylekit-border-color: rgb(217, 198, 177);
  }

  // black
  //:root {
  //  --sn-stylekit-font-size-editor: 16px;
  //  --sn-stylekit-monospace-font: SFMono-Regular, Consolas, Liberation Mono, Menlo,
  //  'Ubuntu Mono', courier, monospace;
  //  --sn-stylekit-background-color: rgb(0, 0, 0);
  //  --sn-stylekit-secondary-background-color: rgb(25, 25, 25);
  //  --sn-stylekit-foreground-color: #ddd;
  //  --sn-stylekit-secondary-foreground-color: #fff;
  //  --sn-stylekit-border-color: rgb(50, 50, 50);
  //}
}
